<p id="notice"><%= notice %></p>

<h1>Listing Lamps</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Calendar</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lamps.each do |lamp| %>
      <% @lamp = lamp %>
      <tr>
        <td><%= lamp.name %></td>
        <td><%= lamp.description %></td>
        <td><%= lamp.calendar %></td>
        <td><%= lamp.status %></td>
        <td><%= render 'lamps/switch' %></td>
        <td><%= lamp.image.thumb.url %></td>
        <td><%= link_to 'Show', lamp %></td>
        <td><%= link_to 'Edit', edit_lamp_path(lamp) %></td>
        <td><%= link_to 'Destroy', lamp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lamp', new_lamp_path %>
