<p id="notice"><%= notice %></p>

<div id="switch-form">
  <%= render 'lamps/switch' %>
</div>

<p>
  <strong>Name:</strong>
  <%= @lamp.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lamp.description %>
</p>

<p>
  <strong>Calendar:</strong>
  <%= @lamp.calendar %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lamp.status %>
</p>

<p>
  <strong>On Script:</strong>
  <%= @lamp.onscript %>
</p>

<p>
  <strong>Off script:</strong>
  <%= @lamp.offscript %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @lamp.image.url %>
</p>


<h2>Scripts</h2>

<% if @lamp.scripts.any? %>
  <ul>
    <% @lamp.scripts.each do |script| %>
      <li><%= link_to script.name, script_path(script) %> | <%= button_to 'Execute',exec_script_path(@lamp.id, script.id), remote: true %></li>
    <% end %>
  </ul>
<% else %>
  <p>No scripts available</p>
<% end %>


<%= link_to 'Edit', edit_lamp_path(@lamp) %> |
<%= link_to 'Back', lamps_path %>
